<h3><%= @competition.name %> Page</h3>

<p>Location: <%= @competition.location %></p>
<p>Sport: <%= @competition.sport %></p>

<% @competition.teams.each do |team| %>
  <div id="team-<%= team.id %>">
    <p>Nickname: <%= team.nickname %></p>
    <p>Hometown: <%= team.hometown %></p>
  </div>
<% end %>

<h4>Average Player Age: <%= @competition.average_player_age.round %></h4>

<%= link_to "Register a Team", "/competitions/#{@competition.id}/teams/new" %>
